.accountBtn {
    font-size: 16px;
    color: #754F31;
    padding: 8px 16px;
}



.CtaOrange {
    display: flex;
    height: 48px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    /* CTA */
    font-size: 16px;
    font-style: normal;
    line-height: 130%;
    /* 20.8px */
    letter-spacing: -0.32px;
    position: relative;
}

.CtaOrange:hover {
    background: linear-gradient(180deg, #AE8F75 0%, #9B7556 100%);
    color: #fff;
}

.CtaOrange::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 4px;
    padding: 2px;
    background: linear-gradient(180deg, #AE8F75 0%, #9B7556 100%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}