#PageProposition{
    width: 90vw;
    margin-left: 5vw;
    color: #754F31;
}
#containeurRecette{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#inputRechercheRecettes{
    width: 100%;
    height: 5vh;
    border: #754F31 2px solid;
    border-radius: 5px;
    padding-left: 1%;
}
.recette{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 2%;
    border-radius: 15px;
    transition: transform 0.3s ease;
    text-decoration: none;
    color: #754F31;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
                0 1px 3px rgba(0, 0, 0, 0.08);
}

.recette img{
    width: 100%;
    object-fit: contain;
}


.recette .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5%;
    padding-left: 2%;
    font-size: 0.95rem;
}
.recette p{
    margin: 0;
}
.recette:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#searchBarRecipe{
    margin-left: 2%;
    width: 45%;
    display: flex;
    justify-content: space-between;
    border: #754F31 2px solid;
    height: 5vh;
    border-radius: 15px;
    overflow: hidden;
}

#searchBarRecipe input{
    background-color: transparent;
    padding-left: 1%;
    width: 80%;
}
#searchBarRecipe button{
    background-color: #754F31;
    color: white;
    width: 20%;
}

#searchBarRecipe button:hover{
    cursor: pointer;
}

.infoPasDeRecette{
    margin-top: 10vh;
    margin-bottom: 10vh;
}

#Filtre{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50vw;
}

.Filtres{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin-left: 2vw;
}

#buttonFiltre{
    width: 10%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-left: 10%;
    background: none;
    background-color: #754F31;
}